body {
    background-color: rgb(0, 0, 50)
}
header {
    h1 {
        color: rgb(255, 255, 255);
        background-color: rgb(0, 11, 98);
        font-family: Comic Sans MS;
    }
}

nav {
    background-color: rgb(0, 132, 255);
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 40px;
}

ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Comic Sans MS;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
}

ul a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 132, 255);
    padding: 0%;
    transition: 0.3s;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
}

#img-inicio{
    border-radius: 50%;
    border-style:ridge;
    border-color:rgb(0, 11, 98);
    border-width: 5px;
    margin-left: 250px;
}
#inicio{
    background-image: url("/img/wallpaper-inicio.jpg");
    font-family: Comic Sans MS;
    color: rgb(255, 255, 255);
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
}
#inicio h1, h2, h3, h4{
    color: blue;
    font-family: 'Gill Sans';
    text-shadow: 2px 6px 2px #000000;
    text-align: left;
}
#inicio h1{
    font-size: 40px;
}
#btn-inicio{ 
    padding: 15px;
    background-color: rgb(0, 26, 255);
    color: white;
    font-family: Comic Sans MS;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}
#inicio button:hover{
    background-color: white;
    color: rgb(0, 26, 255);
    transform: scale(1.1);
    transition: 0.3s;
}
#sobre-mi{
    font-family: Comic Sans MS;
    color: rgb(255, 255, 255);
    display:flex;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15%;
    padding-left: 15%;
    gap: 10%;
    align-items: center;
}
#sobre-mi article{
    border-style: solid;
    border-color: rgb(0, 11, 28);
    border-width: 1px;
    border-radius: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 35px;
}
#inf-sobre-mi h1{
    color:blue;
    text-align: center;
    font-family:'Gill Sans';
    text-shadow: 2px 6px 2px #000000;
}
#img-sobre-mi-carrusel1{
    border-style: ridge;
    border-radius: 15%;
    border-width: 5px;
    border-color: rgba(0, 0, 255, 0.50);
    border-top-left-radius: 75%;
}
#img-sobre-mi-carrusel2{
    border-style: ridge;
    border-radius: 15%;
    border-width: 5px;
    border-color: rgba(0, 0, 255, 0.50);
}
#img-sobre-mi-carrusel3{
    border-style: ridge;
    border-radius: 15%;
    border-width: 5px;
    border-color: rgba(0, 0, 255, 0.50);
    border-bottom-right-radius: 75%;
}

#contactos{
    background-image: url("/img/wallpaper-inicio.jpg");
    font-family: Comic Sans MS;
    color: rgb(255, 255, 255);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
}
#contactos div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
}
#contactos    h1{
        color:blue;
        text-align: center;
        font-family:'Gill Sans';
        text-shadow: 2px 6px 2px #000000;
    }
#contactos div article {
    display: grid;
    gap: 15px;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 15px;
    border: 2px solid rgb(0, 11, 98);
    margin: 20px;
}

#contactos button {
    padding: 15px;
    background-color: rgb(0, 26, 255);
    color: white;
    font-family: Comic Sans MS;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#contactos button:hover {
    background-color: white;
    color: rgb(0, 26, 255);
    transform: scale(1.1);
    transition: 0.3s;
}
#trabajos{
    background-image: url("/img/wallpaper2.png");
    font-family: Comic Sans MS;
    color: rgb(255, 255, 255);
    padding: 40px;
    text-align: center;
}
#trabajos h1{
    color:blue;
    text-align: center;
    font-family:'Gill Sans';
    text-shadow: 2px 6px 2px #000000;
}
#titulo{
    p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    }
}
#proyectos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
}

#trabajos article{
    display: grid;
    gap: 15px;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 15px;
    border: 2px solid rgb(0, 11, 98);
}

#trabajos img{
    border-radius: 10px;
    border: solid 2px rgb(0, 11, 98);
}

#trabajos button{
    padding: 15px;
    background-color: rgb(0, 26, 255);
    color: white;
    font-family: Comic Sans MS;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#trabajos button:hover{
    background-color: white;
    color: rgb(0, 26, 255);
    transform: scale(1.1);
    transition: 0.3s;
}

hr {
    border: none;           
    height: 5px;      
    background-color: rgb(0, 11, 98);
    margin:40px;
    width: 0%;      
    border-radius: 10px;
}

#proyectos h3{
    color: rgb(255, 255, 255);
    font-family: Comic Sans MS;
    text-shadow: none;
}